---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div slot="header">
    <h2>Tyler Rockwood's Website</h2>
    <p>
      Hello, my name is Tyler Rockwood. I love God. Husband and Father.
    </p>
  </div>
  <p>
    Welcome to my corner of the internet!
  </p>
  <p>
  I'm a Software Engineer and love to build solutions to improve people's lives. I've worked on infrustructure that's powered many apps + websites, and most recently on email (surprisingly it's <em>still</em> not a solved problem).
  </p>
  <p>
  If you're interesting in talking, my contact is at the bottom of the page - email is my preferred medium.
  </p>
  <figure>
    <img src="/luna.jpg">
    <figcaption>
      Here's a photo of me and my dog Luna.
    </figcaption>
  </figure>
  <p>
  I put my trust in Jesus Christ as the son of God. All I do and all my accomplishments are because of Him, for Him and I pray that they ultimately point to Him.
  <br>
  Here is <a href="/devotional">a devotional</a> has served me well in hard times throughout my life.
  </p>
</Layout>
