---

---
<footer>
  <h4>Contact Information</h4>
  <div class="contact">
    <p>
      <span>Email:</span>
      <span><a rel="noopener noreferrer">domain name without '.com' at google mail</a></span>
    </p>
    <p>
      <span>Website:</span>
      <span><a href="https://rockwotj.com" rel="noopener noreferrer">https://rockwotj.com</a></span>
    </p>
    <p>
      <span>Social:</span>
      <span><a href="https://github.com/rockwotj" rel="noopener noreferrer">GitHub</a>, <a
          href="https://twitter.com/rockwotj" rel="noopener noreferrer">Twitter</a>, <a
          href="https://linkedin.com/in/rockwotj" rel="noopener noreferrer">LinkedIn</a></span>
    </p>
  </div>
</footer>
<style>
.contact > p {
  margin: 0.5rem;
}
</style>
