---
const LINKS = [
  {name: "Home", href: "/"},
  {name: "Resume", href: "/resume/"},
  {name: "Blog", href: "/blog/"},
];

const currentPath = Astro.url.pathname;
---
<header>
  <nav>
    {LINKS.map(({name, href}) => (<a class={href === currentPath ? "current" : ""} href={href}>{name}</a>))}
  </nav>
  <slot />
</header>
