---
const LINKS = [
  {name: "Home", href: "/"},
  {name: "Blog", href: "/blog/"},
  {name: "Resume", href: "/resume/"},
];

const currentPath = Astro.url.pathname;
---
<header>
  <nav>
    <ul><li><img width="40" height="40" src="/logo.png"/> <strong>Tyler Rockwood</strong></li></ul>
    <ul>
      {LINKS.map(({name, href}) => (<li key={href}><a class={href === currentPath ? "current" : ""} href={href}>{name}</a></li>))}
    </ul>
  </nav>
  <slot />
</header>
