---
const LINKS = [
  {name: "Home", href: "/"},
  {name: "Resume", href: "/resume/"},
  {name: "Blog", href: "https://blog.rockwotj.com/"},
];

const currentPath = Astro.url.pathname;
---
<header>
  <nav>
    {LINKS.map(({name, href}) => (<a class={href === currentPath ? "current" : ""} href={href}>{name}</a>))}
  </nav>
  <slot />
</header>
<style>
header > nav > a.current {
  color: var(--accent);
  border-color: var(--accent);
}
</style>
